.card {
  margin-bottom: 1rem;
  padding: 1rem;
  background: #f9f9f9;
}

.image-scroll-container {
  display: flex;
  overflow-x: auto;
  max-width: 250px;
  gap: 4px;
  padding: 4px 0;
}

.image-thumb {
  width: 50px;
  height: auto;
  border-radius: 4px;
  object-fit: contain;
}